
   *{
    box-sizing: border-box;
    }
    /* Ajoutez ces styles dans votre fichier style.css */

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#userNameInput {
  display: none; /* Masquer initialement l'input du nom */
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
}

#submitNameButton {
  display: none; /* Masquer initialement le bouton de validation */
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

    body {
    
      background-color: #c0c86d;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      margin: 0;
      height: 100vh;
      width: 100vw;
    }
    
    .bg {
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    
    .hole {
      background: black;
      border-radius: 50%;
      overflow: visible;
      width: 167px;
      height: 167px;
    }
    
    .hole-container {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #wormImage{
      width:0px;
    }
    /* Le reste de vos styles CSS existants */

.win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.win img {
  max-width: 80%;
  max-height: 80%;
}

#winText {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

    .mole {
        display:none;
      position: relative;
      width: 200px;
      right: 15px;
    }
    
    .cursor_photo{
      display: none;
    }
    
    .gone {
      display: none;
    }
    
    .worm {
      width: 1660px;
    }
    .cursor{
      cursor: url('./mole-game/cursor.png'), auto;
    }
    .curso_click{
      cursor: url('./mole-game/cursor-worm.png'), auto;
    }
    .worm-container {
      overflow: hidden;
      transition: width 0.5s ease-in-out;
    }
    
    .worm-box {
      width: 1660px;
    }
    
    .win {
      max-width: 100vw;
      max-height: 100vh;
      display: none;
    }
    
    .hide {
      display: none;
    }
    
    .show {
      display: block;
    }